{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

<h2>Profile</h2>
{% for field in form %}
	{{ field.error }}
{% endfor %}

<form action="/accounts/profile/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% if profile.avatar %}
		<p>
			<img border="0" alt="Profile Pic" src="/media/{{profile.avatar}}" width="200" />
		</p>
	{% else %}
		<p>
			<img border="0" alt="Profile Pic" src="/media/images/default_pic.png" width="200" />
		</p>
	{% endif %}
	{% bootstrap_form form %}
	{% buttons %}
		<button type="submit" class="btn btn-primary">
			Update
        </button>
	{% endbuttons %}
</form>

{% endblock %}