{% load static %}
<!-- @current_user -->
<div class="panel panel-primary clearfix">
    {% if current_user.profile %}
        <div class="panel-heading" style="min-height: 80px;"></div>
        <div class="panel-body" style="margin-top: -70px;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <img
                        class="image-thumbnail"
                        src="{% get_media_prefix %}{{current_user.profile.avatar}}"
                        style="width: 100px; height: 100px;" />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" style="margin-top: 25px;">
                    <p class="color-white">
                        <b>{{current_user.first_name}} {{current_user.last_name}}</b>
                    </p>
                    <p>
                        <a href="/accounts/profile/">Edit Profile</a>
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="panel-body">
            <hr />
            <p>Hi, please login to join us :)</p>
        </div>
    {% endif %}
</div>