<!-- @current_user -->

{% extends "picknese/base.html" %}

{% load static %}

{% block title %}
Me |
{% endblock %}

{% block jumbotron %}
<div class="jumbotron profile-jumbotron box-shadow" >
    <div class="container" >
        <div class="media">
            <div class="media-left col-sm-4 col-md-3">
                <div class="show-image">
                    <img
                        class="media-object profile-picture img-thumbnail hidden-xs"
                        src="{% get_media_prefix %}{{current_user.profile.get_avatar}}" />
                        <button
                            type="button"
                            class="btn btn-default btn-lg btn-on-image"
                            data-toggle="modal"
                            data-target="#image-upload-modal">
                            <i class="glyphicon glyphicon-camera"></i> Change Photo
                        </button>
                    </div>
                    <img
                        class="media-object box-shadow hidden-sm hidden-md hidden-lg"
                        src="{% get_media_prefix %}{{current_user.profile.get_avatar}}"
                        style="width: 100px; height: 100px" />
                    <div
                        id="image-upload-modal"
                        class="modal fade"
                        tabIndex="-1"
                        role="dialog"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Change Profile Photo</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="image-upload-input">
                                        <img
                                            class="media-object box-shadow profile-picture"
                                            src="{% get_media_prefix %}{{current_user.profile.get_avatar}}" />
                                    </div>
                                    <div id="image-upload-code" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <span class="btn btn-default btn-file">
                                        Browse
                                        <input
                                            type="file" id="image-upload-file" 
                                            onclick=""
                                            onchange="" />
                                    </span>
                                    <button
                                        type="button"
                                        class="btn btn-primary" 
                                        onclick="" >
                                        Save Changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="media-body col-sm-8 col-md-9 profile-info">
                Profile Info Test
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}