<!-- @current_user -->
{% extends "picknese/base.html" %}

{% load static %}

{% block title %}
Me |
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select/bootstrap-select.css' %}" />
<script type="text/javascript" src="{% static 'js/bootstrap-select/bootstrap-select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'picknese/mixin/HomeFeedActionMixin.js' %}"></script>
<script type="text/javascript" src="{% static 'picknese/component/DummyCard.js' %}"></script>
<script type="text/javascript" src="{% static 'picknese/component/ConfirmationModal.js' %}"></script>

<script type="text/javascript" src="{% static 'pickup/component/BaseContentBody.js' %}"></script>
<script type="text/javascript" src="{% static 'pickup/component/BaseRequestCard.js' %}"></script>
<script type="text/javascript" src="{% static 'pickup/component/FlightPickRequestCard.js' %}"></script>
<script type="text/javascript" src="{% static 'pickup/component/PickRequestCard.js' %}"></script>
<script type="text/javascript" src="{% static 'pickup/component/BasePickUpCard.js' %}"></script>
<script type="text/javascript" src="{% static 'pickup/component/FlightPickUpCard.js' %}"></script>
<script type="text/javascript" src="{% static 'pickup/component/PickUpCard.js' %}"></script>
{% endblock %}

{% block jumbotron %}
<div class="jumbotron profile-jumbotron box-shadow no-bottom-margin" >
    <div class="container" >
        <div class="media">
            <div class="media-left no-left-padding col-xs-12 col-sm-4 col-md-3">
                <div class="show-image">
                    <img
                        class="media-object profile-picture img-thumbnail"
                        src="{% get_media_prefix %}{{current_user.profile.get_avatar}}" />
                        <button
                            type="button"
                            class="btn btn-default btn-lg btn-on-image"
                            data-toggle="modal"
                            data-target="#image-upload-modal">
                            <i class="glyphicon glyphicon-camera"></i> Change Photo
                        </button>
                    </div>
                    
                    <div
                        id="image-upload-modal"
                        class="modal fade"
                        tabIndex="-1"
                        role="dialog"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header background-color-primary">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="color-white">&times;</span>
                                    </button>
                                    <h4 class="modal-title color-white">Change Profile Photo</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="image-upload-input">
                                        <img
                                            class="media-object box-shadow profile-picture"
                                            src="{% get_media_prefix %}{{current_user.profile.get_avatar}}" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <span class="btn btn-default btn-file">
                                        Browse
                                        <input
                                            type="file" id="image-upload-file" 
                                            onclick="onClickUploadImage(event)"
                                            onchange="onChangeUploadImage(event)" />
                                    </span>
                                    <button
                                        type="button"
                                        class="btn btn-primary" 
                                        onclick="onSubmitUploadImage(event)" >
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media-body col-sm-8 col-md-9 profile-info">
                <h3 class="media-heading color-white">
                    {{current_user.first_name}} {{current_user.last_name}}
                </h3>
                <div class="col-md-12 color-white profile-info-div">
                    <div class="col-xs-12 col-md-6 profile-info-div">
                        <div class="profile-info-div" data-toggle="tooltip" data-placement="left" title="Gender">
                            {% if current_user.profile.gender == "M" %}
                            <span class="fontello-icon icon-male"></span> Male
                            {% else %}
                            <span class="fontello-icon icon-female"></span> Female
                            {% endif %}
                        </div>
                        <div class="profile-info-div" data-toggle="tooltip" data-placement="left" title="University">
                            <span class="fontello-icon icon-bank"></span> {{current_user.profile.university}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 profile-info-div">
                        {% if current_user.profile.phone %}
                        <div class="profile-info-div" data-toggle="tooltip" data-placement="left" title="Phone">
                            <span class="fontello-icon icon-mobile"></span> {{current_user.profile.phone}}
                        </div>
                        {% endif %}
                        {% if current_user.profile.qq %}
                        <div class="profile-info-div" data-toggle="tooltip" data-placement="left" title="QQ">
                            <span class="fontello-icon icon-qq"></span> {{current_user.profile.qq}}
                        </div>
                        {% endif %}
                        {% if current_user.profile.wechat %}
                        <div class="profile-info-div" data-toggle="tooltip" data-placement="left" title="Wechat">
                            <span class="fontello-icon icon-wechat"></span> {{current_user.profile.wechat}}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="content"></div>
    </div>
</div>
{% endblock %}

{% block extra_end %}
<script type="text/javascript"> 
var current_user = {};
if ("{{current_user.is_authenticated}}" == "True") {
    current_user = {
        id: "{{current_user.id}}",
        first_name: "{{current_user.first_name}}",
        last_name: "{{current_user.last_name}}",
        avatar: "{{current_user.profile.avatar}}",
    };
}

var profile_user = current_user;

var imageUploadCode = null;

// this would be called in react
$('[data-toggle="tooltip"]').tooltip();

function onClickUploadImage(event) {
    $( "#image-upload-file" ).val(null);
}

function onChangeUploadImage(event) {
    event.stopPropagation();
    event.preventDefault();
    var file = event.dataTransfer !== undefined ? event.dataTransfer.files[0] : event.target.files[0];
    var reader = new FileReader();
    reader.onload = (function(theFile) {
        return function(e) {
            var image = new Image();
            image.src = e.target.result;
            image.onload = function() {
                var canvas = document.createElement('canvas');
                var image_max_size = Math.min(550, $(window).width() - 50);
                canvas.width = Math.min(image.width, image_max_size);
                canvas.height = image.height * (canvas.width / image.width);
                var ctx = canvas.getContext('2d');
                ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

                $('#image-upload-input')
                    .html(['<img class="media-object box-shadow" src="', canvas.toDataURL(), '"/>'].join(''));

                var img = $('#image-upload-input img')[0];
                var canvas = document.createElement('canvas');

                $('#image-upload-input img').Jcrop({
                    bgColor: 'black',
                    bgOpacity: .6,
                    setSelect: [0, 0, 225, 225],
                    aspectRatio: 1,
                    onSelect: imgSelect,
                    onChange: imgSelect
                });

                function imgSelect(selection) {
                    canvas.width = canvas.height = 225;

                    var ctx = canvas.getContext('2d');
                    ctx.drawImage(img, selection.x, selection.y, selection.w, selection.h, 0, 0, canvas.width, canvas.height);
                
                    imageUploadCode = canvas.toDataURL();
                }
            }
        }
    })(file);
    reader.readAsDataURL(file);
}

function onSubmitUploadImage(event) {
    if (imageUploadCode == null) {
        $("#image-upload-input").effect("shake", {times:3, distance: 5}, 500);
        return;
    }
    $.ajax({
        url: getProfileImageUploadAPI(),
        dataType: 'json',
        type: 'PUT',
        data: {image_code : imageUploadCode},
        success: function(data) {
            // close dialog on success
            $('#image-upload-modal').modal('hide');
            // reload data
            location.reload();
        }.bind(this),
        error: function(xhr, status, err) {
            console.error(getProfileImageUploadAPI(), status, err.toString());
        }.bind(this)
    });
}
</script>
<script type="text/javascript" src="{% static 'userprofile/me.js' %}"></script>
{% endblock %}