{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
Profile |
{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{% static 'userprofile/mixin/LoadCurrentUserMixin.js' %}"></script>
<script type="text/javascript" src="{% static 'pickup/mixin/PickRequesterActionMixin.js' %}"></script>
<script type="text/javascript" src="{% static 'pickup/mixin/PickUpActionMixin.js' %}"></script>
<script type="text/javascript" src="{% static 'university/mixin/UniversityActionMixin.js' %}"></script>
<script type="text/javascript" src="{% static 'pickup/component/PickUp.js' %}"></script>
<script type="text/javascript" src="{% static 'pickup/component/PickRequester.js' %}"></script>
<script type="text/javascript" src="{% static 'pickup/component/MyPickUpRequestPanel.js' %}"></script>
<script type="text/javascript" src="{% static 'userprofile/component/UserProfileForm.js' %}"></script>
{% endblock %}

{% block content %}
<div id="loading" >
    <div class="spinner" style="margin-top: 200px; margin-bottom: 200px;"></div>
</div>
<!-- <div class="row">
	<div id="content" />
</div> -->
<div class="container-fluid">
    <div class="row">
		<div id="content" />
    </div>
</div>
<script type="text/javascript" src="{% static 'userprofile/my_profile.js' %}"></script>
{% endblock %}