{% extends "picknese/base.html" %}

{% load bootstrap3 %}
{% load staticfiles%}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Profile</h2>
        <form action="/accounts/profile/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if profile.avatar %}
                <p>
                    <img border="0" alt="Profile Pic" src="{% get_media_prefix %}{{profile.get_avatar}}" width="200" />
                </p>
            {% else %}
                <p>
                    <img border="0" alt="Profile Pic" src="{% get_media_prefix %}default_pic.png" width="200" />
                </p>
            {% endif %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Update
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}