{% extends "base.html" %}

{% load staticfiles%}
{% load bootstrap3 %}

{% block title %}
Provide Pick Up |
{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
	<div class="container text-center">
		<h2>Offer Your Pick Up</h2>
		<p>Picknese let you make money while you provide your pick up service.</p>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" style="margin-top: 30px;" >
	<form action="{% url 'pickup.views.provide_pick_provider' %}" method="post">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button type="submit" class="btn btn-info">
				Confirm
			</button>
		{% endbuttons %}
	</form>
</div>
{% endblock %}