{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Social application for student studying abroad to help each other">
        <meta name="author" content="Yu Sun">
        <title>{% block title %}{% endblock %}Pickinese</title>
        <!-- Latest compiled and minified CSS, http://bootswatch.com/paper/ -->
        <!-- <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.paper.min.css' %}" media="screen"/> -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.paper.css' %}" media="screen"/>
        <!-- https://github.com/tapmodo/Jcrop -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/Jcrop/jquery.Jcrop.min.css' %}" />
        <!-- http://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}" />
        <!-- http://brianreavis.github.io/selectize.js/ -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/selectize/selectize.css' %}" />
        <!-- http://mynameismatthieu.com/WOW/docs.html -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/wow/animate.min.css' %}" />
        <!-- http://fontello.com/ -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontello/css/fontello.css' %}" />
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'picknese/css/custom.css' %}" />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="{% static 'js/jquery/jquery.min.js' %}"></script>
        <!-- https://jqueryui.com/ -->
        <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
        <!-- https://www.devbridge.com/sourcery/components/jquery-autocomplete/ -->
        <script type="text/javascript" src="{% static 'js/autocomplete/jquery.autocomplete.min.js' %}"></script>
        <!-- http://mynameismatthieu.com/WOW/docs.html -->
        <script type="text/javascript" src="{% static 'js/wow/wow.min.js' %}"></script>
        <!-- http://brianreavis.github.io/selectize.js/ -->
        <script type="text/javascript" src="{% static 'js/selectize/selectize.min.js' %}"></script>
        <!-- Initial Loading -->
        <script type="text/javascript" src="{% static 'picknese/js/initial.js' %}"></script>
        <!-- Provide CSRF protection -->
        <script type="text/javascript" src="{% static 'picknese/js/csrf.js' %}"></script>
        <!-- Common Utilities -->
        <script type="text/javascript" src="{% static 'picknese/js/utils.js' %}"></script>
        <!-- Common UI component -->
        <script type="text/javascript" src="{% static 'picknese/js/ui.js' %}"></script>
        <!-- URL Helper -->
        <script type="text/javascript" src="{% static 'picknese/js/urls.js' %}"></script>
        <!-- REST API Helper -->
        <script type="text/javascript" src="{% static 'picknese/js/api/RestApiHelper.js' %}"></script>
        <!-- Constant -->
        <script type="text/javascript" src="{% static 'picknese/constant.js' %}"></script>
        <!-- http://facebook.github.io/react/ -->
        <!-- <script type="text/javascript" src="{% static 'js/react/react.min.js' %}"></script> -->
        <script type="text/javascript" src="{% static 'js/react/react.js' %}"></script>
        <!-- http://momentjs.com/ -->
        <script type="text/javascript" src="{% static 'js/moment/moment.min.js' %}"></script>
        <!-- http://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
        <!-- https://github.com/keen/keen-js -->
        <script type="text/javascript" src="{% static 'js/keen/keen.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/keen/keen_client.js' %}"></script>
        <!-- Used for load common React component -->
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <!-- Navbar -->
        {% include 'picknese/navbar.html' %}
        <!-- Messages -->
        <div id="messages"></div>
        <!-- Jumbotron -->
        {% block jumbotron %}
        {% endblock %}
        <!-- Main -->
        <div style="min-height: 300px;">
        {% block content %}
        {% endblock %}
        </div>
        <!-- Footer -->
        <hr />
        <div class="container">
            <footer>
                <p>&copy; 2015 Picknese Inc. All rights reserved.</p>
            </footer>
        </div>
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
        <!-- https://github.com/tapmodo/Jcrop -->
        <script type="text/javascript" src="{% static 'js/Jcrop/jquery.Jcrop.min.js' %}"></script>
        <!-- Flight Status API Helper -->
        <script type="text/javascript" src="{% static 'picknese/js/api/FlightStatusAPIHelper.js' %}"></script>
        {% if not current_user.is_authenticated %}
        <div id="login"></div>
        <script type="text/javascript" src="{% static 'picknese/component/LoginModal.js' %}"></script>
        {% endif %}
        {% block extra_end %}
        {% endblock %}
    </body>
</html>