<!-- @current_user -->

{% load static %}

<div class="panel panel-primary clearfix">
    {% if current_user.profile %}
        <div class="panel-heading" style="min-height: 80px;"></div>
        <div class="panel-body" style="margin-top: -70px;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <img
                        class="image-thumbnail"
                        src="{% get_media_prefix %}{{current_user.profile.get_avatar}}"
                        style="width: 100px; height: 100px;" />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 main-content">
                    <p class="color-white">
                        <b>{{current_user.first_name}} {{current_user.last_name}}</b>
                    </p>
                    <p>
                        <a href="{% url 'userprofile.views.me' %}">Profile</a>
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="panel-heading" style="min-height: 80px;"></div>
        <div class="panel-body" style="margin-top: -70px;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <img
                        class="image-thumbnail"
                        src="{% get_media_prefix %}default_pic.png"
                        style="width: 100px; height: 100px;" />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 main-content">
                    <p class="color-white">
                        <b>Weclome :)</b>
                    </p>
                    <p>
                        <a href="{% url 'picknese.views.login' %}">Login</a> | <a href="{% url 'picknese.views.signup' %}">Signup</a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
</div>