{% load static %}

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'picknese.views.index' %}"><b>pickub.me</b></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input
                        id="nav-search-bar-input"
                        type="text"
                        class="form-control"
                        placeholder="Search your school...">
                    <div class="input-group-btn">
                        <button class="btn btn-red" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
            <!-- if user is logged in -->
            {% if user.is_authenticated %}
                <!-- User Button -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    {% if user.profile.avatar %}
                        <img class="img-circle" src="{% get_media_prefix %}{{user.profile.get_avatar}}"
                             style="width: 40px; height: 40px; margin-top: -10px; margin-bottom: -10px; margin-right: 5px;" />
                    {% else %}
                        <img class="img-circle" src="{% get_media_prefix %}default_pic.png"
                             style="width: 40px; height: 40px; margin-top: -10px; margin-bottom: -10px; margin-right: 5px;" />
                    {% endif %}
                    {% if user.first_name %}
                        {{ user.first_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{% url 'userprofile.views.me' %}">
                                <i class="fontello-icon icon-user"></i>&nbsp; My pickub.me
                            </a>
                        </li>
                        {% if user.profile.university %}
                        <li>
                            <a href="{% url 'picknese.views.home' user.profile.university.id %}">
                                <!-- <i class="fontello-icon icon-bank"></i>&nbsp; {{user.profile.university.shorthand|upper }} -->
                                <i class="fontello-icon icon-bank"></i>&nbsp; {{user.profile.university.name }}
                            </a>
                        </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'picknese.views.logout' %}">
                                <i class="fontello-icon icon-logout"></i>&nbsp; Log Out
                            </a>
                        </li>
                    </ul>
                </li>
            <!-- if user is not logged in -->
            {% else %}
                <li><a href="{% url 'picknese.views.login' %}">Log In</a></li>
                <li><a href="{% url 'picknese.views.signup' %}">Sign Up</a></li>
            {% endif %}<!-- end if user.is_authenticated -->
                <!-- Help Button -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Help<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">
                                <i class="fontello-icon icon-help"></i>&nbsp; How it works
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Post Request Button -->
                {% if university %}
                <li>
                    <div class="post-request-btn-div">
                        <button
                            type="button"
                            class="btn btn-red col-xs-12"
                            style="margin-top: 14px;"
                            onclick="location.href = '{% url 'picknese.views.post_request' university.id %}';">
                            Post Your Request
                        </button>
                    </div>
                </li>
                {% else %}
                <li>
                    <div class="post-request-btn-div">
                        <button
                            type="button"
                            class="btn btn-red col-xs-12"
                            style="margin-top: 14px;"
                            onclick="location.href = '{% url 'picknese.views.post_request' 0 %}';">
                            Post Your Request
                        </button>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">
// bind unversity auto complete
$.ajax({
    url: getUniversitySimpleListAPI(),
    dataType: 'json',
    type: 'GET',
    success: function(data) {
        var formatData = [];
        for (var i = 0; i < data.length; i++) {
            formatData.push({
                value : data[i].shorthand.toUpperCase() + " | " + data[i].name,
                data  : data[i].id,
            });
        }
        $('#index-university-input').autocomplete({
            lookup: formatData,
            autoSelectFirst: true,
            onSelect: function (suggestion) {
                window.location = getHomeFeedURL(suggestion.data);
            }
        });
        $('#nav-search-bar-input').autocomplete({
            lookup: formatData,
            autoSelectFirst: true,
            onSelect: function (suggestion) {
                window.location = getHomeFeedURL(suggestion.data);
            }
        });
    }.bind(this),
    error: function(xhr, status, err) {
        console.error(
            getUniversitySimpleListAPI(),
            status,
            err.toString()
        );
    }.bind(this)
});
</script>