{% extends "picknese/base.html" %}

{% load static %}
{% load staticfiles %}

{% block title %}
Post Request |
{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{% static 'picknese/component/PostRequestInput.js' %}"></script>

<script type="text/javascript" src="{% static 'picknese/mixin/HomeFeedActionMixin.js' %}"></script>
<script type="text/javascript" src="{% static 'university/mixin/UniversityActionMixin.js' %}"></script>
{% endblock %}

{% block jumbotron %}
<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <!-- Title -->
            <h3 class="col-lg-12">Post My Request</h3>
            <p>Picknese lets you help each other :)</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<hr style="margin-top: -30px; margin-bottom: 0px;" />
<div style="background-color: #F5F5F5; margin-bottom: -23px; padding-top: 30px; padding-bottom: 30px;">
    <div class="container">
        <div id="content" ></div>
    </div>
</div>
{% endblock %}

{% block extra_end %}
<!-- template val pass to react -->
<script type="text/javascript">
var current_user = {};
if ("{{current_user.is_authenticated}}" == "True") {
    current_user = {
        id: "{{current_user.id}}",
        university_id: "{{current_user.profile.university.id}}",
        first_name: "{{current_user.first_name}}",
        last_name: "{{current_user.last_name}}",
        avatar: "{{current_user.profile.avatar}}",
    };
}
var university = {
    id: "{{university_id}}",
};
</script>

<!-- https://developers.google.com/maps/documentation/javascript/examples/places-searchbox -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript" src="{% static 'picknese/post_request.js' %}"></script>
{% endblock %}