{% extends "base.html" %}

{% load staticfiles%}

{% block title %}
Pick Up |
{% endblock %}

{% block jumbotron %}
<div class="jumbotron" style="background: url({% static 'images/campus/' %}{{university.shorthand}}/2.jpg);">
	<div class="container" style="overflow: hidden;">
		<div style="float:left; margin-right:20px;">
			<img src="{% static 'images/logo/' %}{{university.shorthand}}.jpg" alt="" class="img-thumbnail img-responsive img-center" style="width:90px;">
		</div>
		<div style="overflow: hidden;">
			<h2 class="color-white text-shadow" >{{university.name}}</h2>
		</div>
	</div>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-xs-12 col-sm-4 col-md-3" >
	<div class="list-group">
		<a class="list-group-item" href="{%url 'picknese.views.index' %}"><i class="glyphicon glyphicon-home"></i>&nbsp; Home</a>
		<a class="list-group-item active" href="{% url 'pickup.views.index' university.id %}"><i class="glyphicon glyphicon-plane"></i>&nbsp; Pick Up</a>
		<a class="list-group-item" href="#"><i class="glyphicon glyphicon-road"></i>&nbsp; Carpool</a>
	</div>
	{% if is_provided %}
	<div class="list-group">
		<a href="{% url 'pickup.views.cancel_pick_provider' university.id %}" class="btn btn-info col-xs-12"><b>&nbsp; Cancel Your Pick Up</b></a>
	</div>
	{% else %}
		<a href="{% url 'pickup.views.provide_pick_provider' university.id %}" class="btn btn-info col-xs-12"><b>&nbsp; Provide Your Pick Up</b></a>
	{% endif %}
</div>
{% endblock %}

{% block content %}
<div class="col-xs-6 col-xs-offset-3 col-sm-7 col-sm-offset-1 col-md-8 col-md-offset-1" >
{% if pick_providers|length > 0 %}
	{% for pick_provider in pick_providers %}
	<div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 30px;" >
		{% if pick_provider.picker.profile.avatar %}
			<img class="img-circle box-shadow" src="/media/{{pick_provider.picker.profile.avatar.name}}" alt="Profile Pic" style="width: 130px; height: 130px;" />
		{% else %}
			<img class="img-circle box-shadow" src="/media/images/avatar/default_pic.png" alt="Profile Pic" style="width: 130px; height: 130px;" />
		{% endif %}
		<h4>{{ pick_provider.picker.first_name }} {{ pick_provider.picker.last_name }}</h4>
		<p>Tip: ${{pick_provider.price}}</p>
		<p>{{pick_provider.description}}</p>
		<!-- TODO: add contact and profile -->
		<!-- Split button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default col-xs-9"><i class="glyphicon glyphicon-envelope"></i>&nbsp; Contact</button>
			<button type="button" class="btn btn-default dropdown-toggle col-xs-3" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp; Profile</a></li>
				<li class="divider"></li>
				<li><a href="#">Other</a></li>
			</ul>
		</div>
	</div>
	{% endfor %}
{% else %}
<div>
	<h4>Oops, no picker here :(</h4>
</div>
{% endif %}
</div>
{% endblock %}

