{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
Pick Up |
{% endblock %}

{% block extra_head_js %}
<script type="text/jsx" src="{% static 'js/mixin/LoadCurrentUserMixin.js' %}"></script>
<script type="text/jsx" src="{% static 'js/mixin/LoadUniversityMixin.js' %}"></script>
{% endblock %}

{% block jumbotron %}
<div id="jumbotron" />
<script type="text/jsx" src="{% static 'js/jumbotron.js' %}"></script>
{% endblock %}

{% block content %}
<div id="content" />
<script type="text/jsx" src="{% static 'js/pickup_requester_list.js' %}"></script>
{% endblock %}