{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Social application for student studying abroad to help each other">
  <meta name="author" content="Yu Sun">
  <title>{% block title %}{% endblock %}Pickinese</title>
  <!-- Latest compiled and minified CSS, Paper Style -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.paper.min.css' %}" media="screen"/>
  <!-- http://bootswatch.com/paper/ -->
  <link rel="stylesheet" href="{% static 'assets/css/bootswatch.min.css' %}"/>
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/base.css' %}" />
</head>
<body>
  {% include 'navbar.html' %}
  <!-- Messages -->
  <div id="alert-messages" class="text-center">
  {% if messages %}
    {% for message in messages %}
      <div
      {% if message.tags == "info" %} 
        class="alert alert-info alert-dismissible"
      {% endif %}
      {% if message.tags == "success" %} 
        class="alert alert-success alert-dismissible"
      {% endif %}
      {% if message.tags == "warning" %} 
        class="alert alert-warning alert-dismissible"
      {% endif %}
      {% if message.tags == "error" %} 
        class="alert alert-danger alert-dismissible"
      {% endif %}
      role="alert" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  </div>
  <!-- Jumbotron -->
  <div>
    {% block jumbotron %}
    {% endblock %}
  </div>
  <!-- Main -->
  <div class="container">
    <div class="row">
      <!-- Tabs -->
      {% block tabs %}
      {% endblock %}
      <!-- Content -->
      {% block content %}
      {% endblock %}
      <!-- Sidebar -->
      {% block sidebar %}
      {% endblock %}
    </div><!--/row-->
  </div>
  <!-- Footer -->
  <div class="container">
    <hr>
    <footer>
      <p>&copy; 2015 Picknese Inc. All rights reserved.</p>
    </footer>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <!-- http://bootswatch.com/paper/ -->
  <script src="{% static 'assets/js/bootswatch.js' %}"></script>
  <!-- http://facebook.github.io/react/ -->
  <script src="{% static 'assets/js/react.js' %}"></script>
  <script src="{% static 'assets/js/JSXTransformer.js' %}"></script>
  <script type="text/javascript">
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $(document).ready(function() {
      var csrftoken = getCookie('csrftoken');
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    });
  </script>
  {% block extrajs %}
  {% endblock %}
</body>
</html>