{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Social application for student studying abroad to help each other">
        <meta name="author" content="Yu Sun">
        <title>{% block title %}{% endblock %}Pickinese</title>
        <!-- Latest compiled and minified CSS, Paper Style -->
        <link rel="stylesheet" href="{% static 'global/css/bootstrap/bootstrap.paper.min.css' %}" media="screen"/>
        <!-- http://bootswatch.com/paper/ -->
        <link rel="stylesheet" href="{% static 'global/css/bootstrap/bootswatch.min.css' %}"/>
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'global/css/base.css' %}" />
    </head>
    <body>
        <!-- Hidden Parameters -->
        <div>
        {% block hidden %}
        {% endblock %}
        </div>
        <!-- Navbar -->
        <div><div id="fixed-navbar" /></div>
        <!-- Messages -->
        <div id="alert-messages" class="text-center">
        {% if messages %}
        {% for message in messages %}
            <div
            {% if message.tags == "info" %} class="alert alert-info alert-dismissible" {% endif %}
            {% if message.tags == "success" %} class="alert alert-success alert-dismissible" {% endif %}
            {% if message.tags == "warning" %} class="alert alert-warning alert-dismissible" {% endif %}
            {% if message.tags == "error" %} class="alert alert-danger alert-dismissible" {% endif %}
                role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        </div>
        <!-- Jumbotron -->
        <div>
        {% block jumbotron %}
        {% endblock %}
        </div>
        <!-- Main -->
        <div class="container">
            <div class="row">
            <!-- Content -->
            {% block content %}
            {% endblock %}
            </div><!--/row-->
        </div>
        <!-- Footer -->
        <div class="container">
            <hr />
            <footer>
                <p>&copy; 2015 Picknese Inc. All rights reserved.</p>
            </footer>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="{% static 'global/js/jquery.min.js' %}"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="{% static 'global/js/bootstrap/bootstrap.min.js' %}"></script>
        <!-- http://bootswatch.com/paper/ -->
        <script type="text/javascript" src="{% static 'global/js/bootstrap/bootswatch.js' %}"></script>
        <!-- http://facebook.github.io/react/ -->
        <script type="text/javascript" src="{% static 'global/js/react/react.js' %}"></script>
        <script type="text/javascript" src="{% static 'global/js/react/JSXTransformer.js' %}"></script>
        <!-- Provide CSRF protection -->
        <script type="text/javascript" src="{% static 'global/js/csrf.js' %}"></script>
        <!-- Fixed Navbar -->
        <script type="text/jsx" src="{% static 'global/js/navbar.js' %}"></script>
    </body>
</html>