{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Social application for student studying abroad to help each other">
	<meta name="author" content="Yu Sun">
	<title>{% block title %}{% endblock %}Pickinese</title>
	<!-- Latest compiled and minified CSS, Paper Style -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.paper.min.css' %}" media="screen"/>
	<!-- http://bootswatch.com/paper/ -->
	<link rel="stylesheet" href="{% static 'assets/css/bootswatch.min.css' %}"/>
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/base.css' %}" />
</head>
<body>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'picknese.views.index' %}"><b>Picknese</b></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- if user is logged in -->
					{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						{% if user.profile.avatar %}
						<img class="img-circle" src="/media/{{user.profile.avatar.name}}" 
							style="width: 40px; height: 40px; margin-top: -10px; margin-bottom: -10px; margin-right: 5px;" />
						{% else %}
						<img class="img-circle" src="/media/images/avatar/default_pic.png"
							style="width: 40px; height: 40px; margin-top: -10px; margin-bottom: -10px; margin-right: 5px;" />
						{% endif %}
						{% if user.first_name %}
							{{user.first_name}}
						{% else %}
							{{user.username}}
						{% endif %}
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{% url 'userprofile.views.user_profile' %}">
								<i class="glyphicon glyphicon-user"></i>&nbsp; Profile</a>
							</li>
							<li><a href="#">
								<i class="glyphicon glyphicon-heart-empty"></i>&nbsp; Your Offering</a>
							</li>
							<li><a href="#">
								<i class="glyphicon glyphicon-paperclip"></i>&nbsp; Your Reservations</a>
							</li>
							<li class="divider"></li>
							<li><a href="{% url 'picknese.views.logout' %}">
								<i class="glyphicon glyphicon-log-out"></i>&nbsp; Log Out</a>
							</li>
						</ul>
					</li>
					<!-- if user is not logged in -->
					{% else %}
					<li><a href="{% url 'picknese.views.login' %}">Log In</a></li>
					<li><a href="{% url 'picknese.views.signup' %}">Sign Up</a></li>
					{% endif %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Offer Your Help<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li>
							<!-- with associated university -->
							{% if university %}
								<a href="{% url 'pickup.views.provide_pick_provider' university.id %}">
								<i class="glyphicon glyphicon-plane"></i>&nbsp; Pick Up</a>
							<!-- if not in pick up requesters page, need select university first -->
							{% else %}
								<a href="{% url 'pickup.views.provide_pick_provider' %}">
								<i class="glyphicon glyphicon-plane"></i>&nbsp; Pick Up</a>
							{% endif %}
							</li>
							<li><a href="#">
								<i class="glyphicon glyphicon-road"></i>&nbsp; Carpool</a>
							</li>
						</ul>
					</li>
					{% if requester_page %}
					<li>
						{% if user.is_authenticated %}
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary navbar-btn hidden-xs" data-toggle="modal" data-target="#PickRequesterForm">Post Your Request</button>
						<!-- Modal -->
						<div class="modal fade" id="PickRequesterForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h5 class="modal-title" id="modalLabel">
											Post Your Request
										</h5>
									</div>
									<form action="{% url 'pickup.views.create_pick_requester' university.id %}" method="post">
										<div class="modal-body">
										{% csrf_token %}
										{% bootstrap_form requester_form %}
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						{% else %}
						<a href="{% url 'picknese.views.login' %}" class="btn btn-primary navbar-btn visible-xs">Post Your Request</a>
						{% endif %}
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<!-- Messages -->
	<div id="alert-messages" class="text-center">
	{% if messages %}
		{% for message in messages %}
			<div
			{% if message.tags == "info" %} 
				class="alert alert-info alert-dismissible"
			{% endif %}
			{% if message.tags == "success" %} 
				class="alert alert-success alert-dismissible"
			{% endif %}
			{% if message.tags == "warning" %} 
				class="alert alert-warning alert-dismissible"
			{% endif %}
			{% if message.tags == "error" %} 
				class="alert alert-danger alert-dismissible"
			{% endif %}
			role="alert" >
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	</div>
	<!-- Jumbotron -->
	<div>
		{% block jumbotron %}
		{% endblock %}
	</div>
	<!-- Main -->
	<div class="container">
		<div class="row">
			<!-- Tabs -->
			{% block tabs %}
			{% endblock %}
			<!-- Content -->
			{% block content %}
			{% endblock %}
			<!-- Sidebar -->
			{% block sidebar %}
			{% endblock %}
		</div><!--/row-->
	</div>
	<!-- Footer -->
	<div class="container">
		<hr>
		<footer>
			<p>&copy; 2015 Picknese Inc. All rights reserved.</p>
		</footer>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<!-- http://bootswatch.com/paper/ -->
	<script src="{% static 'assets/js/bootswatch.js' %}"></script>
	{% block extrajs %}
	{% endblock %}
</body>
</html>