{% extends "base.html" %}

{% load staticfiles%}

{% block content %}

<div class="jumbotron" style="background: url({% static 'images/campus/' %}{{university.shorthand}}/2.jpg);">
	<div class="container" style="overflow: hidden;">
		<div style="float:left; margin-right:20px;">
			<img src="{% static 'images/logo/' %}{{university.shorthand}}.jpg" alt="" class="img-circle img-responsive img-center" style="width:70px;">
		</div>
		<div style="overflow: hidden;">
			<h2 class="color-white text-shadow" >{{university.name}}</h2>
		</div>
	</div>
</div>

<div class="container">
<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-3" id="sidebar">
		<div class="list-group">
			<a class="list-group-item" href="{%url 'picknese.views.index' %}"><i class="glyphicon glyphicon-home"></i>&nbsp; Home</a>
			<a class="list-group-item active" href="#"><i class="glyphicon glyphicon-plane"></i>&nbsp; Pick Up</a>
			<a class="list-group-item" href="#"><i class="glyphicon glyphicon-road"></i>&nbsp; Carpool</a>
		</div>
		<div class="list-group">
			<a id="btn-default" href="#" class="btn btn-default col-xs-12"><b>&nbsp; Provide your pick up</b></a>
		</div>
	</div>
</div>
</div>

{% endblock %}