{% extends "base.html" %}

{% load staticfiles%}

{% block content %}

<div class="jumbotron" style="background: url({% static 'images/campus/usc/2.jpg' %});">
	<div class="container">
		<h2 class="color-white text-shadow">Weclome to Picknese!</h2>
	</div>
</div>

<div class="container">
<div class="row">
{% if universities.count > 0 %}
	{% for university in universities %}
	<div class="col-md-4 col-sm-6">
		<img class="img-responsive img-portfolio img-hover box-shadow" alt="" src="{% static 'images/campus/' %}{{university.shorthand}}/1.jpg" >
		<h4>{{ university.name }}</h4>
		<p>{{ university.description }}</p>
		<p><a class="btn btn-default" href="{% url 'picknese.views.home' university.id %}" role="button">View details &raquo;</a></p>
	</div>
	{% endfor %}
{% endif %}
</div>
</div>

{% endblock %}