{% extends "base.html" %}

{% load staticfiles%}

{% block title %}
Home |
{% endblock %}

{% block jumbotron %}
<div class="jumbotron" style="background: url({% static 'images/campus/usc/2.jpg' %});">
	<div class="container">
	<div class="row">
		<!-- Title -->
		<h2 class="color-white text-shadow col-lg-12">Weclome to Picknese!</h2>
		<!-- Search -->
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
			<div class="input-group">
			<input type="text" class="form-control" placeholder="What School Are You Looking For ?" style="background-color: white; border-radius: 3px 0 0 3px; padding: 0px 10px;">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Go</button>
			</span>
			</div>
		</div>
		<h4 class="color-white text-shadow col-xs-12 col-sm-12 col-md-12 col-lg-12">Join us now, to be No.{{user_count}} pickneses!</h4>
		<a class="color-yellow col-xs-12 col-sm-12 col-md-12 col-lg-12" href="#" style="font-size: 110%;"><b>How it works &raquo;</b></a>
	</div>
	</div>
</div>
{% endblock %}

{% block content %}
{% if universities.count > 0 %}
	{% for university in universities %}
	<!-- University -->
	<div class="col-sm-6 col-md-4">
		<img class="img-responsive img-portfolio img-hover box-shadow" alt="" src="{% static 'images/campus/' %}{{university.shorthand}}/1.jpg" >
		<h4>{{ university.name }}</h4>
		<p>{{ university.description }}</p>
		<p>
			<!-- Single button -->
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="glyphicon glyphicon-log-in"></i>&nbsp; View details <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="{% url 'pickup.views.pick_provider_list' university.id %}">
						<i class="glyphicon glyphicon-plane"></i>&nbsp; Pick Up
					</a></li>
					<li><a href="#">
						<i class="glyphicon glyphicon-road"></i>&nbsp; Carpool
					</a></li>
				</ul>
			</div>
		</p>
	</div>
	{% endfor %}
{% endif %}
{% endblock %}