{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

<div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top:50px;">
<div class="panel panel-info">
	<div class="panel-heading">
		<div class="panel-title">Sign Up</div>
	</div>
	<div class="panel-body" >
		<form id="signupform" action="{% url 'picknese.views.signup' %}" method="post" >
		{% csrf_token %}
		<!-- Form -->
		{% bootstrap_form form %}
		<!-- Button -->
		<div class="form-group">
			<button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Sign Up</button>
		</div>
		<div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
			<button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>Sign Up with Facebook</button>
		</div>
		</form>
	</div>
</div>
</div>

{% endblock %}