{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
University |
{% endblock %}

{% block jumbotron %}
<div class="jumbotron" style="background: url({% static 'images/campus/' %}{{university.shorthand}}/2.jpg); min-height: 200px;"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4" style="margin-top: -130px;">
      <img src="{% static 'images/logo/' %}{{university.shorthand}}.jpg" alt="" class="img-thumbnail img-responsive img-center" style="width:150px;">
    </div>
  </div>
</div>
{% endblock %}

{% block tabs %}
<div class="col-xs-12 col-sm-9">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="{%url 'university.views.university' university.id %}">{{university.shorthand|upper}}</a></li>
  <li role="presentation"><a href="#">Me</a></li>
  <li role="presentation"><a href="{% url 'pickup.views.pick_requester_list' university.id %}">Pick Up</a></li>
  <li role="presentation"><a href="#">Carpool</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-9">
  <p><b>Description:</b> {{ university.description }}</p>
  <p><b>Address:</b> {{ university.address }}</p>
  <p><b>State:</b> {{ university.state }}</p>
  <p><b>Country:</b> {{ university.country }}</p>
</div>
{% endblock %}
