/*
 * Base Element Style
 * --------------------------------------------------
 */
body {
	padding-top: 50px;
}

a:hover {
	text-decoration: none !important;
}

textarea {
	resize: vertical;
}

/*
 * Custom Element Style
 * --------------------------------------------------
 */
.box-shadow {
	box-shadow: 0 0 5px black;
}

.text-shadow {
	text-shadow: 0 0 0.2em black;
}

.color-white {
	color: white;
}

.color-yellow {
	color: yellow;
}

.text-center {
	text-align: center;
}

#alert-messages {
	position: fixed;
	top: 63px;
	opacity: 1.0;
	z-index: 100;
	width: 80%;
}
